// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './app/pages/material-page/material-page.component.theme' as material-page;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$indigo-pink-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$indigo-palette),
            accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
            warn: mat.define-palette(mat.$red-palette),
        ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($indigo-pink-theme);
@include material-page.theme($indigo-pink-theme);

.indigo-pink-theme {
    // Nothing to do. This is the default theme
}

.deeppurple-amber-theme {
    $deeppurple-amber-theme: mat.define-light-theme(
        (
            color: (
                primary: mat.define-palette(mat.$deep-purple-palette),
                accent: mat.define-palette(mat.$amber-palette, A200, A100, A400),
            ),
        )
    );
    @include mat.all-component-colors($deeppurple-amber-theme);
    @include material-page.theme($deeppurple-amber-theme);
}

.pink-bluegrey-theme {
    $pink-bluegrey-theme: mat.define-dark-theme(
        (
            color: (
                primary: mat.define-palette(mat.$pink-palette, 700, 500, 900),
                accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400),
            ),
        )
    );
    @include mat.all-component-colors($pink-bluegrey-theme);
    @include material-page.theme($pink-bluegrey-theme);
}

.purple-green-theme {
    $purple-green-theme: mat.define-dark-theme(
        (
            color: (
                primary: mat.define-palette(mat.$purple-palette, 700, 500, 800),
                accent: mat.define-palette(mat.$green-palette, A200, A100, A400),
            ),
        )
    );
    @include mat.all-component-colors($purple-green-theme);
    @include material-page.theme($purple-green-theme);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(#765fa0, #3b2957);
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background: #362E45;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.btn {
    margin-top: 1%;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 32px;
    border: 2px solid #7B57B8;
    background: rgba(85, 66, 116, 0.1);
    color: white;
  }
  .btn:hover{
    background-color: #9845e7;
  }

  .title {
    color: white;
    text-decoration: none;
    font-size: 40px;
    margin-left: 10px;
    font-weight: 700;
    line-height: 48px;
    margin-right: -46px;
    width: fit-content;
    white-space: nowrap;
  }

  .sub-title{
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-left: 10px;
    font-weight: 500;
    width: fit-content;
    white-space: nowrap;
}
.mat-dialog-container{
    padding: 0px;
  }