.form-group {
    margin: 0 auto;
    // display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    font-size: 1.2em;
}

.index {
    font-size: 1.3em;
    // font-weight: bold;
}

.input-block {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.1em;
}
.input-block label {
    margin-right: 20px;
    font-size: 1.1em;
}
.input-block input {
    display: block;
    width: 58%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
}
#difficulty {
    margin-right: 20px;
    font-size: 1.1em;
}
.btn-block {
    display: flex;
    // flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

.cancel {
    background: rgb(230, 100, 100);
    border-radius: 10px;
    padding: 10px;
    width: 90px;
    border: none;
    margin: 10px;
    color: white;
}

.accept {
    background: rgb(36, 228, 126);
    border-radius: 10px;
    padding: 10px;
    border: none;
    width: 90px;
    margin: 10px;
    color: white;
}

// .cancel:hover {
//     border: 1px solid rgb(236, 90, 90);
//     background-color: rgb(236, 90, 90);
// }

// .accept:hover {
//     border: 1px solid rgb(126, 148, 126);
//     background-color: rgb(126, 148, 126);
// }
