<div id="rectangle1">
    <div id="rectangle2">
        <p>{{ card.gameName }}</p>
    </div>
    <div class="gameImage">
        <img src="{{ card.modifiedImageData }}" />
    </div>
    <div class="Difficulty">
        <p>{{ card.difficulty }}</p>
    </div>
    <div class="rankingTable">
        <table>
            <tr>
                <th scope="col"></th>
                <th scope="col" class="gameCategory">Solo</th>
                <th scope="col" class="gameCategory">1 vs 1</th>
            </tr>
            <tr>
                <th scope="row" class="ranking" style="color: #ffe600">1.</th>
                <td class="firstAndThird">
                    {{ '2:13' }} {{ 'ania' }}
                </td>
                <td class="firstAndThird">
                    {{ '2:13' }} {{ 'ania' }}
                </td>
            </tr>
            -->
            <!-- <tr>
                    <th scope="row"  class= "ranking" style="color:#E0ECEF">2.</th>
                    <td class = "second"> {{card.rankingSolo.time2}} {{card.rankingSolo.name2}}</td>
                    <td class = "second">{{card.rankingMulti.time2}} {{card.rankingMulti.name2}} </td>
                </tr>
                <tr>
                    <th scope="row"  class= "ranking" style="color:#FF8B02">3.</th>
                    <td class="firstAndThird"> {{card.rankingSolo.time3}} {{card.rankingSolo.name3}}</td>
                    <td class="firstAndThird">{{card.rankingMulti.time3}} {{card.rankingMulti.name3}} </td>
                </tr> -->
        </table>
    </div>
    <button *ngIf="changeButton() === 'Classique'" class="playingButtons" id="playButton" (click)="openDialog()">Jouer</button>
    <button *ngIf="changeButton() === 'Classique'" class="playingButtons" id="joinButton">Joindre</button>

    <button *ngIf="changeButton() === 'Configuration'" class="playingButtons" id="playButton" (click)="openDialog()">Supprimer</button>
    <button *ngIf="changeButton() === 'Configuration'" class="playingButtons" id="joinButton">Reinitialiser</button>
</div>
