<div class="game-creation-page">
    <app-header [iconUsed]="false" class="navigation"></app-header>
    <div class="body">
        <div id="drawing-column">
            <app-canvas-ngx class="Canvas-ngx" [type]="originalCanvas"></app-canvas-ngx>
            <app-canvas-ngx *ngIf="showPixel" class="Canvas-ngx" [type]="modifiedCanvas"></app-canvas-ngx>
        </div>

        <div id="tools-column">
            <app-drawing-tool-bar (onReadyToDraw)="drawDifferencePixel()"></app-drawing-tool-bar>
        </div>
    </div>
    <div id="return-container">
        <button mat-raised-button color="primary" class="btn" matTooltip=" Settings" matTooltipPosition="left"
            routerLink="/config" id="classique">
            Back to Settings
        </button>
        <canvas #dd *ngIf="showDifferentPixels" class="image-pixel" width="640" height="480"></canvas>
    </div>
</div>
