.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.nav-color {
    background-color: hsl(261, 25%, 54%);
    width: 100%;
}

.logo {
    height: 50px;
    margin-bottom: 0px;
    margin-top: 2px;
    min-width: 50px;
}

.brand {
    color: white;
    text-decoration: none;
    font-size: 40px;
    margin-left: 10px;
    font-weight: 700;
    line-height: 48px;
    margin-right: -46px;
    width: fit-content;
    white-space: nowrap;
}
.logo-center {
    margin-left: 1%;
    display: flex;
    align-items: center;
}
.icon-display {
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    margin-right: 10px;
}
.display-button {
    margin-right: 30px;
}
