<nav class="main-nav">
  <span class="logo-center">
    <img class= "logo" src={{logo}} alt="logo lunette de vue">
    <a class="navbar-brand brand" href="/" matTooltip="Retourner à l'accueil" >{{title}}</a>
  </span>

  <div *ngIf = "iconUsed" class="display-button">
    <button mat-icon-button class="icon-display"
      matTooltip="Créer un fiche de jeu">
      <mat-icon>add_circle</mat-icon>
    </button>
    <button mat-icon-button class="icon-display"
      matTooltip="Supprimer tous les jeux">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button class="icon-display"
      matTooltip="Réinitialiser les meilleurs temps">
      <mat-icon>autorenew</mat-icon>
    </button>
    <button mat-icon-button class="icon-display"
      matTooltip="Consulter l’historique des parties jouées">
      <mat-icon>history</mat-icon>
    </button>
    <button mat-icon-button class="icon-display"
      matTooltip="Modifier les constantes de jeu">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</nav> 