.main-nav {
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 98vw;
  background-color: hsl(261, 25%, 54%);
}
.logo{
  height: 50px;
  margin-bottom: 0px;
  margin-top: 2px;
  min-width: 50px;
}

.logo-center{
  display: flex;
  align-items: center;
}
.icon-display{
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  margin-right: 10px;
}
.display-button{
  margin-right: 30px;
}
