<div class="homepage">
    <app-header [iconUsed]= false class="navigation"></app-header>
    <div class="home">
      <main class="main">
        <h1 class="title animate-character">{{title}}</h1>
        <p class="slogan align-text-bottom">
          Un défi pour tes yeux et ton esprit!<br/> Met ta vision au défi en trouvant les différences cachées
        </p>
          <button mat-raised-button color="primary" class="btn btn-animate home-btn" 
              routerLink="/classique" id="classique">
              Mode Classique</button>
          <button mat-raised-button color="primary" class="btn btn-animate home-btn" 
              (click)="openDialog()" id="tempsLimite">
              Mode Temps limité</button>
          <button mat-raised-button color="primary" class="btn btn-animate home-btn" 
              routerLink="/config" id="configuration">
              Configuration</button>
          <div>
            <img class="image-minecraft" src="https://feedback.minecraft.net/hc/user_images/75HO_-N1k4xJ6JjJBLCI9Q.png" alt="image-minecraft">
          </div>
      </main>
      <footer class="footer-display">
        <p id = "team">Équipe: 208</p>
        <div class="auteurs">  
          <p id = "authors">Auteurs: Guimfack Melvice Junior, Hamza Berrada, Daniel Giao, Yanis Bouard, Lounes Sadmi, Renel Lherisson</p>
        </div>
      </footer>
    </div>
</div>
  