.Canvas-ngx {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.Canvas-ngx canvas {
    margin: auto;
    width: 640px;
    height: 480px;
    background-color: white;
    border: 1px solid black;
}

.file-upload {
    display: none;
}

.Originale {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    margin-top: 3%;
    width: 70%;
}

.Modifiée {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    margin-top: 3%;
    width: 70%;
}

.btn-tools-canvas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 70%;
}

.canvas-type {
    font-size: 1.5em;
    color: black;
    background-color: rgb(142, 136, 199);
    border: 1px solid red;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
}
