<div class="Canvas-ngx">
    <p class="canvas-type">{{ type }}</p>
    <canvas #Canvas [attr.width]="width" [attr.height]="height"></canvas>
    <input type="file" class="file-upload" (change)="onFileSelected($event)" accept=".bmp" #fileUpload />
    <div class="Tools-Canvas {{ type }}">
        <img
            matTooltip="Téléverser une image"
            src="./assets/img/UploadBackground.png"
            id="UploadBtn"
            alt="Upload Background"
            class="btn-tools-Canvas"
            (click)="fileUpload.click()"
        />
        <img
            matTooltip="Réinitialiser l'arrière-plan"
            src="./assets/img/ClearBackground.png"
            id="ClearBtn"
            class="btn-tools-Canvas"
            alt="Clear Background"
            (click)="clearCanvas()"
        />
    </div>
</div>
