<div class="homepage">
    <app-header [iconUsed]= false class="navigation"></app-header> 
    <app-banner></app-banner> 
    <!-- <app-game-card></app-game-card> -->
    <app-card-displayer></app-card-displayer>
    <app-previous-next></app-previous-next>
</div>
<footer class="footer-display">
    <p>Équipe:&nbsp;&nbsp;208</p>
    <div class="auteurs">  
      <p>Auteurs:&nbsp;&nbsp; Guimfack Melvice Junior, Hamza Berrada, Daniel Giao, Yanis Bourad, Lounes Sadmi, Renel Lherisson</p>
    </div>
  </footer>
