<div class="container">
  <h1 mat-dialog-title > {{data.message}}</h1>
  <div mat-dialog-content *ngIf="data.type === 'finished' && data.formatTime; else elseBlock">
    <h1 class="align-text">  Vous avez fini la partie en : {{data.formatTime}} minutes.</h1>
    <h1 class="align-text">Le vainqueur est {{winner}}</h1>
  </div>
  <ng-template #elseBlock>
    <div mat-dialog-content *ngIf="data.type !== 'timeLimit'">
      <h1 class="align-text"> Meilleure chance la prochaine fois! </h1>
    </div>
  </ng-template>
  <div mat-dialog-actions *ngIf="data.type !== 'timeLimit'" >
    <button class={{data.type}} mat-raised-button mat-dialog-close color="primary" (click)="redirection()">Ok</button>
    <button *ngIf="data.type === 'finished'" class={{data.type}} mat-raised-button mat-dialog-close color="primary" (click)="rewindGame()">Revoire La Partie</button>
  </div>

  <div mat-dialog-actions *ngIf="data.type === 'timeLimit'">
    <button class={{data.type}} mat-raised-button mat-dialog-close color="primary" (click)="launchSolo()">Solo</button>
    <button class={{data.type}} mat-raised-button mat-dialog-close color="primary" (click)="redirection()">Coopératif</button>

</div>