<div class="control-bar">
  <button type="button" class="btn btn-primary" (click)="togglePause()">play/pause</button>
  <button type="button" class="btn btn-primary" (click)="restart()">restart</button>
  <select class="form-control" [(ngModel)]="speed" (change)="updateSpeed()">
    <option *ngFor="let speed of speeds" [ngValue]="speed">{{speed}}</option>
  </select>
  <!-- lets do a process bar -->
  <progress #myProgressBar [value]="process" max="100"></progress>

  <button type="button" class="btn btn-primary" (click)="redirect()">Sortir</button>
</div>
