.homepage{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#765fa0, #3b2957);
}
// .footer-display{
//     grid-area: "footer";
//     position: absolute;
//     padding-left: 5%;
//     text-align: start;
//     font-size: 20px;
//     color: #ffffffcc;
//     padding-top: 20px;
//     bottom: 0;
//     background-color: #645381;
//     width: 100%;
//     }
