<div class="container">
    <h1 class="sub-title">Attente avant de commencer</h1>
    <h3 *ngIf=" game.gameType !== 'limit' " class="sub-title">Nom du jeu : {{game.gameName}}</h3>
    <div class="player-box">
        <div class="player">
            <div class="creator">
                <img class="avatar" [src]="'./assets/img/user.png'" alt="avatar">
            </div>
            <div class="playerName">{{game.name}}</div>
        </div>
        <div class="player">
            <div class="opponent">
                <img class="avatar" [src]="'./assets/img/user2.png'" alt="avatar">
            </div>
            <div class="playerName">{{game.opponentName}}</div>
        </div>
    </div>
    <div class="btn-box">
        <button mat-raised-button class="btn close" (click)="leaveGame()">Annuler</button>
        <button mat-raised-button *ngIf="isReady && game.gameType !== 'limit' " class="btn accept"
            (click)="startGame()">{{acceptState}}</button>
        <button mat-raised-button *ngIf="isReady && game.gameType !== 'limit' " class="btn refuse"
            (click)="rejectOpponent()">Refuser</button>
    </div>
</div>
