.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    color: white;
}

.player-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0 20px;
}

.avatar {
    height: 90%;
    margin-bottom: 0px;
    margin-top: 2px;
    min-width: 90%;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 50%;
    padding: 0 20px;
}

.creator {
    height: 250px;
    width: 100%;
    border: 2px solid rgb(208, 40, 255);
    border-radius: 10px;
    background-color: rgb(198, 163, 190);
}
.opponent {
    height: 250px;
    width: 100%;
    border: 2px solid rgb(58, 195, 254);
    border-radius: 10px;
    background-color: rgb(162, 189, 203);
}

.btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.close {
    background: rgb(230, 100, 100);
    color: white;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
}

.accept {
    background: rgb(91, 133, 65);
    color: white;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
}

.refuse {
    background-color: rgba(239, 49, 24, 0.688);
    color: white;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
}

.sub-title {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-left: 10px;
    font-weight: 500;
    width: fit-content;
    white-space: nowrap;
}
.gameName {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 15px 0 0 10px;
    font-weight: 500;
    white-space: nowrap;
}
.playerName {
    text-decoration: none;
    font-size: 20px;
    margin: 15px 0 0 10px;
    font-weight: 500;
    white-space: nowrap;
}
