.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.container p {
    font-size: 1.5em;
    color: red;
}

.feedback-message {
    display: flex;
    justify-content: center;
}

.image-pixel {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding: auto;
}

.btn-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.validate {
    background-color: red;
    border: 1px solid red;
    width: 20%;
}
