.timer{
  background-color: rgba(0, 0, 0, 0.248);
  color:white;
  font-size: 60px;
  font-weight: 700;
  height: 100px;
  width: 225px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
