.infos{
  display: grid;
  grid-template-columns: 1fr 0.6fr 1fr; 
}

.middle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.left{
  padding-top: 30px;
  padding-left: 30px;
}
.right{
  display: grid;
  padding-top: 30px;
  padding-left: 40%;
}
.game-infos{
  color: rgba(255, 255, 255, 0.711);
  margin-bottom: 30px;
}
.differences-trouvees-img {
  z-index: 1;
  height: auto;
  max-width: 36px;
  margin-right: 10px;
}
.difficulty {
  text-align: start;
  font-size: 25px;
  font-weight: 500;
  color: white;
}
.difficulty-easy {
  color: #87ff87;
}
.difficulty-hard {
  color: #BA2921;
}
.indices-restants-img {
  z-index: 1;
  height: auto;
  max-width: 38px;
  margin: 0px 0px 10px 10px;
}
.btn {
  margin-top: 1%;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  border-radius: 32px;
  border: 2px solid #7B57B8;
  :not(:disabled) {
    border: 2px solid #7B57B8;
    background: rgba(85, 66, 116, 0.1);
    color: white;
  }
}
.mat-raised-button.mat-button-disabled{
  border: 2px solid #7b57b891;
  background: rgba(85, 66, 116, 0.1);
  color: rgba(255, 255, 255, 0.571);
  cursor:default;
}

.btn:not(:disabled):hover{
  background-color: #9845e7;
}

.btn:disabled{
  border: 2px solid #7b57b891;
  background: rgba(85, 66, 116, 0.1);
  color: rgba(255, 255, 255, 0.571);
  cursor:default;
}