<div class="infos">
  <div  class="left">
      <p class="title">{{gameService.gameInformation.gameTitle}}</p>
      <p class="sub-title game-infos">{{gameService.gameInformation.gameMode}}</p>
      <p class="sub-title">Différences trouvées par {{gameService.playerName}}</p>
      <div>
          <img
              *ngFor="let differences of gameService.differencesArray"
              class="differences-trouvees-img"
              src={{differences}}
              alt="Differences trouvées"
          />
      </div>
  </div>
  <div class="middle">
      <div class="difficulty">
            <p>
                Difficulté : 
                <span *ngIf="gameService.gameInformation.gameDifficulty === 'Facile'" class="difficulty-easy">
                    {{gameService.gameInformation.gameDifficulty}}
                </span>
                <span *ngIf="gameService.gameInformation.gameDifficulty === 'Difficile'" class="difficulty-hard">
                   {{gameService.gameInformation.gameDifficulty}}
                </span>
            </p>
      </div>
      <app-timer></app-timer>
  </div>
</div>