<div class="container">
    <div class="player-circle">
        <p class="player-initials">W</p>
    </div>
</div>
<div class="container">
    <div class="discussion-box">
        <p class="event-title">message d'événement</p>
        <hr>
        <p class="event-message">12:25:30 - Différence trouvé par W</p>
        <p class="event-message">12:25:35 - Différence trouvé par W</p>
    </div>
</div>
<div class="container">
    <input type="text" placeholder="Écrire à Melvice G…">
</div>
<div class="container">
    <button class="send-btn">Envoyer</button>
</div>
