#boxer {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

#boxer > h1 {
    display: block;
    width: 40%;
    height: 50px;
    top: 8%;
    bottom: 85%;
    left: 30%;
    position: fixed;
    background-color: gray;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

.container {
    display: flex;
    height: 720px;
    width: 1107px;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-color: white;
    // overflow-y: scroll;
}
#eraseButton {
    background-color: transparent;
    color: rgb(250, 248, 248);
    border: 3px solid red;
    border-radius: 30px;
}
#closeButton {
    background-color: transparent;
    color: rgb(253, 251, 251);
    border: 3px solid green;
    border-radius: 30px;
}
.contents {
    padding-bottom: 60px;
}
.buttonContainer2 {
    display: flex;
    position: fixed;
    justify-content: center;
    bottom: 5%;
    left: 10%;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 10px;
    gap: 20px;
}
.buttonContainer {
    align-content: center;
    padding-left: 17%;
}
.bottomButtons {
    display: inline-block;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 10px 30px;
}

p {
    color: black;
}
