#popup {
    margin: 0 auto;
    // display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    font-size: 1.2em;
}

// ::ng-deep .mat-input-element {
    
// }

#zeb {
    margin-right: 20px;
    font-size: 1.2em;
    margin-top: 11px;
}
#name input {
    display: block;
    width: 43%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
}

.mat-button{
    line-height: 20px;
}

#confirmation-button {
    background: rgb(36, 228, 126);
    border-radius: 10px;
    padding: 10px;
    border: none;
    width: 90px;

    margin: 10px;
    color: white;
    text-align: center;
}

#cancel-button {
    background: rgb(230, 100, 100);
    border-radius: 10px;
    padding: 10px;
    width: 90px;
    // height: 35px;
    border: none;
    margin: 10px;
    color: white;
}

// #popup-content {
//     display: flex;
//     margin-top: 30px;
//     margin-bottom: 20px;
//     font-size: 1.1em;
// }

#title-popup {
    font-size: 1.3em;
}

#popup-button {
    display: flex;
    // flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

#name {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.1em;
}

// ::ng-deep .mat-input-element {
//     max-width: 200% !important;
// }
