#popup {
    width: 544px;
    height: 255px;
    // left: 688px;
    // top: 413px;
    // position: relative;
    // left: 688px;
    // top: 413px;
    background-color: #150f1f;
    border: 1px solid #000000;
    //border-radius: 30px;
    padding: 0px;
    margin: -25px;
    margin-right: -35px;
}
#name-input {
    background: #534370;
    border: 1px solid #2e1656;
    border-radius: 10px;
    // align-items: center;
    margin-bottom: 10px;
    // display: block;
    width: 361px;
    height: 45px;
    left: 801px;
    top: 513px;
    //justify-content: center;
}

#confirmation-button {
    /*background: rgba(137, 220, 87, 0.64);
    backdrop-filter: blur(16px);
    border-radius: 32px;
    color: white;
    justify-content: center;*/
    //display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 8px;
    // left: 291px;
    // margin-top:175px;
    width: 110px;
    height: 52px;
    border-radius: 32px;
    color: white;

    background: rgba(137, 220, 87, 0.64);
}

#cancel-button {
    width: 110px;
    height: 52px;
    background: rgba(185, 76, 69, 0.52);
    backdrop-filter: blur(16px);
    border-radius: 32px;
    color: white;
}

#popup-content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    padding: 0px;
    background-color: none;
}

#title-popup {
    text-align: center;
}

#popup-button {
    // text-align:center;
    // /*the same margin which is every button have, it is for small screen, and if you have many buttons.*/
    // margin-left:-20px;
    // marin-right:-20px;
    // margin:0 auto;
    // display:block;
    align-items: center;
    justify-content: center;
}

#name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 32%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

#zeb {
    display: inline-block;
    text-align: right;
    clear: both;
    align-items: center;

    // margin: auto;
    // float:left;
}
::ng-deep .mat-input-element {
    max-width: 200% !important;
}
