.drawing-tool-bar {
    display: flex;
    margin: 0 10px 10px 10px;
    max-width: 500px;
    min-width: 450px;
    flex-direction: column;
    border-radius: 20px;
    background-color: #3c40fc;
}

.tool-parial {
    margin: 2rem;
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    p {
        padding-top: 10px;
    }
    select {
        height: 2rem;
        width: 5rem;
        font-size: 1rem;
    }
}

#radius-tronslation {
    display: flex;
    justify-content: center;
    max-width: 400px;
}
#radius-tronslation p {
    margin-right: 20px;
    width: 70%;
}

#line-width input {
    height: 2rem;
    width: 60%;
    font-size: 1rem;
}

#line {
    margin: 3rem;
    width: 80%;
    height: 2px;
    border: 2px solid red;
}

#validator {
    display: flex;
    justify-content: center;
    flex: initial;
}
